@import "src/styles/variables";

.message {
  $self: &;
  &__content {
    display: flex;
    max-width: 440px;
    margin-bottom: 20px;
    position: relative;
  }

  &__avatar {
    display: flex;
    flex-direction: column-reverse;
    img {
      border-radius: 50%;
      width: 33px;
      height: 33px;
      margin-right: 13px;
      margin-bottom: 5px;

    }
  }
  &__bubble {
    background: $blue;
    box-shadow: 0 5px 5px rgba(54, 116, 255, 0.196733);
    border-radius: 12px 12px 12px 0;
    padding: 15px;
    margin-bottom: 8px;
  }
  &__date {
    font-size: 12px;
    opacity: .5;
  }
  &__text {
    color: #fff;
    line-height: 20px;
  }

  //&__info {
  //  display: flex;
  //  //#{$self}__attachments {
  //  //  display: flex;
  //  //}
  //}
  &__attachments {
    display: flex;
    margin-bottom: 5px;
    &-item {
      margin-right: 5px;
      cursor: pointer;
      img {
        width: 45px;
        height: 45px;
        border-radius: 8px;
      }
    }
  }

  &__icon-readed {
    position: absolute;
    bottom: 22px;
    left: -25px;
    &--no {
      left: -20px
    }
  }
  &--is-typing {
    #{$self}__bubble {
      background: #E5EDFF;
      padding: 15px 20px;
    }
  }
  &--image {
    #{$self}__attachments-item {
      img {
        width: 150px;
        height: 150px;
      }
    }
  }
  &__typing {
    display: flex;

    span {
      display: block;
      height: 10px;
      width: 10px;
      background: #a6bdf0;
      border-radius: 50%;
      &:nth-of-type(1) {
        animation: anim .7s ease-in infinite alternate-reverse ;

      }
      &:nth-of-type(3) {
        margin-left: 10px;
        animation: anim .7s ease-in infinite alternate;

      }
      &:nth-of-type(2) {
        margin-left: 10px;
        animation: anim .7s ease-in infinite alternate-reverse ;
        animation-delay: .350s;

      }
    }

  }


  &--is-audio {
    #{$self}__bubble {
      position: relative;
      overflow: hidden;
    }
    #{$self}__audio {
      width: 270px;
      &-progress {
        top:0;
        left: 0;
        position: absolute;
        background: #418FFF;
        height: 100%;
        width: 90%;
        transition: width .4s ease-in-out;
      }
      &-wave {

      }
      &-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
      }
      &-btn {
        button {
          cursor: pointer;
          border: none;
          width: 28px;
          height: 28px;
          background: #0F3997;
          border-radius: 50%;
          img {
            height: 11px;
          }
        }
      }
      &-duration {
        color: #fff;
        font-weight: 500;
        font-size: 12px;
        opacity: .5;
      }
    }
  }


  &--isme {
    display: flex;
    flex-direction: row-reverse;

    #{$self}__content {
      margin-bottom: 15px;
      flex-direction: row-reverse;
    }
    #{$self}__date {
      text-align: right;
    }
    #{$self}__info {

      text-align: right;
    }

    #{$self}__avatar {
      img {
        margin-right: 0;
        margin-left: 13px;
      }
    }
    #{$self}__bubble {
      background: #ffffff;
      border: 1px solid #ececec;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.0220444);
      border-radius: 12px 12px 0px 12px;
      order: 2;
      #{$self}__text {
        color: $black;
      }
    }
  }
}

@keyframes anim {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}